<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-pickup-call-card status="hold" updatedAt="25/08/2024 17:30:01" createdAt="23/08/2024" notes="Menerima Pesanan dan Pembelian Perumahan Residensial di Seluruh Indonesia"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="25/08/2024 17:30:13" createdAt="23/08/2024" notes="Menerima Pesanan dan Pembelian Perumahan Residensial"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="26/08/2024 17:34:04" createdAt="23/08/2024" value="Rp2.000.000.000"></app-pickup-call-card>

</ion-content>

