<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.formula-land.com/cni-content/uploads/modules/product/thumbs/small/20170907020551.jpg" style="width: 100%; height: auto;" />
  <ion-card>
    <ion-card-content>
      <p>Alamat    : Jl. Kebon Agung, Duwet, Sendangadi, Mlati, Sleman, DIY </p>
      <p>Open      : 24 Hours</p>
      <p>Telephone : 0274524523</p>
      <p>Zip code  : 55291</p>
      <p>City      : Daerah Istimewa Yogyakarta</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="secondary" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>
